#footer {
    padding: 5rem 0;
    background: #f5f6f7;
    img {
        width: 100px;
    }
    .social {
        i {
            font-size: 18px;
            background-color: #fff;
            border-radius: 30px;
            padding: 10px;
            margin-left: 5px;
            color: #51C4D3;
            box-shadow: 0 0 15px rgba(24, 24, 24, 0.3);
            transition: 0.4s ease-in-out;
            &:hover {
                background-color: #51C4D3;
                color: #fff;
            }
        }
    }
    .contact {
        h1 {
            font-size: 24px;
            color: #39404a;
            margin-bottom: 25px;
        }
        ul {
            padding: 0;
            li {
                margin-bottom: 18px;
                display: flex;
                list-style-type: none;
                align-items: center;
                i {
                    margin-right: 20px;
                    font-size: 36px;
                    color: #51C4D3;
                }
                p {
                    margin: 0;
                    span {
                        color: #555;
                    }
                }
            }
        }
    }
    .quick-link {
        h1 {
            font-size: 24px;
            color: #39404a;
            margin-bottom: 25px;
        }
        a {
            display: block;
            color: #555;
            transition: 0.4s ease-in-out;
            &:hover {
                color: #50c5bc;
                text-decoration: underline;
            }
        }
    }
    .bottom{
        align-items: center;
        background-color: #c3c3c3;
        p{
            margin: 0;
        }
        img{
            filter: grayscale(1);
            width: 80px;
            height: 46px;
            transition: .4s ease-in-out;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}